.container {
  min-height: 100vh;
  padding: 30px 60px;
  color: #ffffff;
  background-color: #282c34;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelink {
  color: #61dafb;
}

.homelink:hover {
  color: #ffffff;
}

.signlink {
  text-decoration: none;
}

.separator {
  margin: 0 20px;
  font-weight: 900;
}

.signform {
  display: flex;
  flex-direction: column;    
  align-items: center;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px 20px;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.signform__title {
  margin: 0 0 20px;
  font-weight: 900;
  color: #61dafb;
}

.signform__group {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.signform__group p {
  display: inline-block;
  margin-right: 20px;
}

.signform__group a {
  margin: 0;
}

.signform__input {
  width: 60%;
  margin: 0 0 10px;
}

.signform__input:focus {
  border-color: #61dafb;
}

.signform__input:not(:placeholder-shown) {
  background-color: #ffffff;
  border-color: #61dafb;
}

.signform__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 15px;
}

.signform__button:hover {
  color: #ffffff;
  background-color: #61dafb;
  border-color: #61dafb;
}

.profile {
  display: flex;
  flex-direction: column;    
  align-items: center;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px 20px;
  text-align: center;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.profile__label {
  font-weight: 700;
  letter-spacing: 1px;
}

.profile__input {
  width: 60%;
  margin: 20px calc(20% - 20px) 10px;
}

.profile__button {
  margin: 20px 10px 0;
}

.profile__button:hover {
  background-color: #61dafb;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 30px;
  width: calc(100% - 60px);
  height: calc(100% - 120px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
}

.modal-content {
  position: relative;
  top: 15%!important;
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 30px;
  box-shadow: 5px 5px 0 #000000, -5px -5px 0 #000000, 5px -5px 0 #000000, -5px 5px 0 #000000;
}

.modal-header {
  padding: 0 0 20px;
  border-bottom: 5px solid #ffffff;
}

.modal-content__title {
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ff0000;
}

.modal-main {
  padding: 30px 20px 0;
  color: #ffffff;
}

.modal-content__input {
  width: 60%;
  margin: 20px 0;
  background-color: #ffffff;
}

.modal-content__input::placeholder {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #000000;
}

.modal-footer {
  padding: 0 20px;
}

.modal-content__button {
  margin: 10px;
  letter-spacing: 1px;
  border-color: #000000;
}

.modal-content__submit-button {
  background-color: #0096c0;
}

.modal-content__submit-button:hover {
  color: #000000;
  background-color: #61dafb;
  box-shadow: 5px 5px 5px #ffffff, -5px -5px 5px #ffffff, 5px -5px 5px #ffffff, -5px 5px 5px #ffffff;
}

.modal-content__cancel-button {
  color: #000000;
  background-color: #ffffff;
}

.modal-content__cancel-button:hover {
  color: #ffffff;
  background-color: transparent;
  box-shadow: 5px 5px 5px #ffffff, -5px -5px 5px #ffffff, 5px -5px 5px #ffffff, -5px 5px 5px #ffffff;
}

.result-message {
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 30px;
  width: calc(100% - 60px);
  height: calc(100% - 120px);
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1;
  overflow: hidden;
}

.result-message div {
  position: relative;
  top: 35%;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #61dafb;
  border: solid 5px #ffffff;
  border-radius: 30px;
}

.error-message {
  margin: 0 0 20px;
  text-align: center;
  font-style: italic;
  color: #ff0000;
}

.logout {
  margin: 0;
  padding: 0;
  text-transform: none;
  border: none;
}

.logout:hover {
  color: #61dafb;
}

.table-caption {
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: 900;
}

.main__table {
  width: 100%;
  margin: 0 auto 30px;
  border: solid 5px #ffffff;
  border-collapse: collapse;
}

.main__table thead {
  color: #000000;
  background-color: #61dafb;
}

.main__table tr {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.main__table th, td {
  padding: 30px;
  border: solid 1px #ffffff;
}

.main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.main__form input, button {
  margin: 10px;
}

.main__form input::placeholder {
  text-transform: uppercase;
}

.main__form-id {
  max-width: 90px;
}

.main__form-name {
  max-width: 320px;
}

.main__form-username {
  max-width: 250px;
}

.main__form-email {
  max-width: 350px;
}

.main__button:hover {
  background-color: #61dafb;
}

.editform {
  padding-left: 20px;
  padding-right: 20px;
}

.editform__par {
  margin: 10px 0 30px;
  padding: 10px 15px;
  font-weight: 700;
  background-color: #61dafb;
}

.editform__input {
  width: 80%;
  margin: 0 0 20px;
}

.editform__input::placeholder {
  text-transform: uppercase;
}

.editform__input:focus {
  border-color: #61dafb;
}

.editform__button:hover {
  background-color: #61dafb;
  border-color: #61dafb;
}

@media screen and (max-width: 1279px) {

  .main__table {
    position: relative;
    margin: 60px 0 0;
    padding: 0;
  }

	table, thead, tbody, th, td, tr { 
		display: block; 
  }

  tr:nth-of-type(odd) { 
    color: #000000;
    background-color: #61dafb;
  }

  tr:nth-of-type(odd) button {
    color: #000000;
    border-color: #000000;
  }

  tr:nth-of-type(odd) button:hover {
    background-color: #ffffff;
  }

  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 35%;
		left: 0;
    width: 50%; 
    font-weight: 700;
	}
	
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "NAME"; }
	td:nth-of-type(3):before { content: "USERNAME"; }
	td:nth-of-type(4):before { content: "EMAIL"; }
	td:nth-of-type(5):before { content: "DELETE"; }
	td:nth-of-type(6):before { content: "EDIT"; }
  
}

@media screen and (max-width: 479px) {

  .container {
    padding: 30px;
  }

  .header {
    flex-direction: column;
  }

  .homelink {
    margin: 0 0 15px;
  }

  .separator {
    margin: 0 15px;
  }

  .main__table th, td {
    padding-right: 15px;
    word-wrap: break-word;
  }

}
