.container {
  min-height: 100vh;
  padding: 20px 40px;
  color: #ffffff;
  background-color: #282c34;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelink {
  margin: 0;
  color: #61dafb;
}

.homelink:hover {
  color: #ffffff;
}

.signlink {
  text-decoration: none;
}

.separator {
  margin: 0 20px;
  font-weight: 900;
}

.signform {
  display: flex;
  flex-direction: column;    
  align-items: center;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px 20px;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.signform__title {
  margin: 0 0 20px;
  font-weight: 900;
  color: #61dafb;
}

.signform__group {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.signform__group p {
  display: inline-block;
  margin-right: 20px;
}

.signform__group a {
  margin: 0;
}

.signform__input {
  margin: 0 0 10px;
}

.signform__input::placeholder {
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
}

.signform__input:focus {
  border-color: #61dafb;
}

.signform__input:not(:placeholder-shown) {
  background-color: #ffffff;
  border-color: #61dafb;
}

.signform__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 5px solid #ffffff;
  border-radius: 15px;
}

.signform__button:hover {
  color: #ffffff;
  background-color: #61dafb;
  border-color: #61dafb;
}

.profile {
  display: flex;
  flex-direction: column;    
  align-items: center;
  max-width: 600px;
  margin: 60px auto;
  padding: 40px 20px;
  text-align: center;
  border: 5px solid #61dafb;
  border-radius: 30px;
}

.profile__label {
  font-weight: 700;
  letter-spacing: 1px;
}

.profile__input {
  margin: 20px calc(20% - 20px) 10px;
  border-color: #61dafb;
}

.profile__button {
  margin: 20px 10px 0;
}

.profile__button:hover {
  background-color: #61dafb;
}

.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  overflow: hidden;
}

.modal-content {
  position: relative;
  top: 25%;
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  border: 5px solid #ffffff;
  border-radius: 30px;
  box-shadow: 5px 5px 0 #000000, -5px -5px 0 #000000, 5px -5px 0 #000000, -5px 5px 0 #000000;
}

.modal-header {
  padding: 0 0 20px;
  border-bottom: 5px solid #ffffff;
}

.modal-content__title {
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ff0000;
}

.modal-main {
  padding: 30px 20px 0;
}

.modal-content__input {
  margin: 20px 0;
  background-color: #ffffff;
}

.modal-footer {
  padding: 0 20px;
}

.modal-content__button {
  margin: 10px;
  letter-spacing: 1px;
  border-color: #000000;
}

.modal-content__submit-button {
  background-color: #0096c0;
}

.modal-content__submit-button:hover {
  color: #000000;
  background-color: #61dafb;
  box-shadow: 5px 5px 5px #ffffff, -5px -5px 5px #ffffff, 5px -5px 5px #ffffff, -5px 5px 5px #ffffff;
}

.modal-content__cancel-button {
  color: #000000;
  background-color: #ffffff;
}

.modal-content__cancel-button:hover {
  color: #ffffff;
  background-color: transparent;
  box-shadow: 5px 5px 5px #ffffff, -5px -5px 5px #ffffff, 5px -5px 5px #ffffff, -5px 5px 5px #ffffff;
}

.error-message {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  color: #ff0000;
}

.logout {
  padding: 0;
  text-transform: none;
  border: none;
}

.logout:hover {
  color: #61dafb;
}

.nopage {
  padding: 20px 0;
  text-align: center;
}

.nopage__text {
  margin-bottom: 40px;
}

.main__button:hover {
  background-color: #61dafb;
}
